@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f0f0;
  --black: #0a090c;
  --white: #ffffff;

  --primary: #3b28cc;
  --primary-light: #5444cc;

  --secondary: #279af1;
  --secondary-light: #42a7f4;

  --tertiary: #cdf7f6;
  --tertiary-light: #e7f7f7;
}

body {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  font-weight: normal;
  color: var(--black);
  background: var(--background);
}
